.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #123164;
  padding: 10px 40px;
  color: white;
  position: sticky;
  top: 0;
  z-index: 1000;
  box-shadow: 0 2px 6px rgba(0,0,0,0.2); /* subtle shadow */
  font-family: 'Segoe UI', sans-serif;
}

.logo {
  display: inline-block;
  width: 80px;       /* slightly smaller */
  height: 80px;
  cursor: pointer;
  overflow: hidden;
  border-radius: 50%;
  border: 2px solid #38bdf8; /* subtle border */
  transition: transform 0.3s;
}

.logo:hover {
  transform: scale(1.1); /* small hover effect */
}

.logo img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}.nav-links {
  display: flex;
  align-items: center;
  width: 100%;
  margin-left: 30px; /* space between logo and links */
}

.nav-left {
  display: flex;
  gap: 25px;
}

.nav-right {
  display: flex;
  gap: 12px;
  margin-left: auto; /* pushes right buttons to far right */
}

.btn-nav {
  padding: 17px 18px;
  background: #38bdf8;
  color: #fff !important;
  border-radius: 6px;
  font-weight: 500;
  transition: 0.3s;
}

.btn-nav:hover {
  background: #0ea5e9;
}


.nav-links a {
  text-decoration: none;
  color: white;
  font-size: 20px;
  font-weight: 500;
  padding: 6px 10px; /* subtle padding */
  border-radius: 6px;
  transition: 0.3s;
}

.nav-links a:hover {
  background: rgba(255, 255, 255, 0.1); /* subtle hover background */
  color: #38bdf8;
}
